body, html{
    height: 100%;
    margin:0;
    font-size:20px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.5em;
    color: black;
}

.pimg1, .pimg2, .pimg3, .pimg4 {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*
    fixed = parallax
    scroll = normal
    */
    background-attachment: fixed;
}
.pimg1 {
    background-image: url('../img/greywall01.jpeg');
    min-height: 100%;

}

.pimg2 {
    background-image: url('../img/projects02.jpeg');
    min-height: 380px;
}

.pimg3 {
    background-image: url('../img/contactinfo.jpeg');
    min-height: 340px;
}

.pimg4 {
    background-image: url('../img/skill.jpeg');
    min-height: 340px;
}

.section {
    text-align: center;
    padding: 50px 80px;
}

.section-light {
    background-color: white;
    color: #666;
}

.Contact {
    padding-top: 20px;
    padding-bottom: 0%;
}

.section-dark {
    background-color: #282e34;
    color: #ddd;
}

.ptext {
    position: absolute;
    top:50%;
    width:100%;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.ptext .businesstitle {
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    letter-spacing: 2px;
}

.contactinfo {
    position: absolute;
    line-height: 0.4em;
    color: black;
    margin-bottom: 0px;
}

a {
    text-decoration: none;
}
a:hover {
    background-color:rgba(128, 128, 128, 0.856);
}

@media (max-width:100%) {
    .pimg1, .pimg2{
        background-attachment: scroll;
    }
}

.web {
    max-width: 100%;
}

.skilltext 
{
    text-align: left;
    line-height: 0.7em;
    padding-left: 240px;
}

ul {
    position: relative;

}
ul li 
{
    display: block;
    background: rgba(red, green, blue, alpha);
    padding: 10px 20px;
    color: grey;
    transition: 1s;


}

ul li:hover{
    transform: scale(1.06);
    background-color: lightgrey;
}

span
{
    text-align: center;
    
}

ol li 
{
    display: block;
}

